/* Hide scrollbars */
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* iOS momentum scrolling */
.-webkit-overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch;
}